body {
    text-align: center;
    margin: 20px;
}

#flipBox{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-height: 450px;
}

#bothPic, #headsPic, #tailsPic {
    grid-row: 1;
    grid-column: 1;
}

#bothPic{
    max-width: 600px;
    max-height: 600px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
}

#headsPic{
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    display: none;
}

#tailsPic{
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    display: none;
}

#flipResult{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 16px;
}

#flip{
    margin: auto;
    font-size: 30px;
    border-radius: 25px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-color: black;
}

#reset{
    display: none;
    margin: auto;
    font-size: 30px;
    border-radius: 25px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-color: black;
}

#counterSection{
    display: flex;
    justify-content: space-between;
}

#headsScore, #tailsScore, #headsPercent, #tailsPercent, #totalFlips{
    font-size: 30px;
}

#percentageSection{
    display: grid;
}

#headsPercent{
    text-align: start;
    grid-row: 1;  
}

#totalFlips{
    text-align: center;
    grid-row: 1;
}

#tailsPercent{
    text-align: end;
    grid-row: 1;
}